@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:antiquewhite">
    <br />
    <div class="container-xxl" style="background-color:antiquewhite">
        <div class="text-center" style="background-color:antiquewhite">
            <h1 class="display-4 bx-font-color">Welcome to Book Shop</h1>

        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="text-center font-weight-bold font-italic ">
            "A good bookshop is just a genteel Black Hole that knows how to read."

        </div>
        <hr />
        <br />
        <br />
        <div class="img-rounded text-center">
            <img src="https://st2.depositphotos.com/3927083/10774/v/950/depositphotos_107740296-stock-illustration-book-shop-logo.jpg" />
        </div>
    </div>
</body>
